<%= render partial: 'carousel_slide' %>


<div id="famous-teachers" class="feature">
  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <%= image_tag 'famous_teachers/mahuateng.jpg', class: 'img-circle' %>
        <h2>马化腾</h2>
        <p>用你的脑子想想，不充钱能变强吗？</p>
        <p class="text-muted">特聘小学语文老师</p>
      </div>

      <div class="col-md-4 text-center">
        <%= image_tag 'famous_teachers/mayun.jpg', class: 'img-circle' %>
        <h2>马云</h2>
        <p>今天会很残酷，明天会很残酷，后天会很美好，但大部分人会死在明天晚上。</p>
        <p class="text-muted">特聘高三英语老师</p>
      </div>

      <div class="col-md-4 text-center">
        <%= image_tag 'famous_teachers/wangjianlin.png', class: 'img-circle' %>
        <h2>王健林</h2>
        <p>想做首富这是对的，但是最好先定一个能达到的小目标，比方说我先赚它一个亿。</p>
        <p class="text-muted">特聘初中数学老师</p>
      </div>

    </div>
  </div>
</div>


<div id="courses" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h2>凹凸课程</h2>
          <h3 class="text-muted">COURSE</h3>
          <div class="row text-center">
            <div class="col-md-8 push-md-2">
                <h3>丰富多彩的课程，总能找到适合你的</h3>
            </div>
          </div>
        </div>
    </div>
  </div>

    <div class="owl-carousel-center ">
      <div>
        <div class="card">
          <%=image_tag 'courses/junior_1_wuli.jpg', class: 'card-img-top' %>
          <div class="card-block">
            <h4 class="card-title">凹凸教育课程</h4>
            <p class="card-text">小学六年级英语</p>
            <a href="#" class="btn btn-primary">了解更多</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <%=image_tag 'courses/junior_3_huaxue.jpg', class: 'card-img-top' %>
          <div class="card-block">
            <h4 class="card-title">凹凸教育课程</h4>
            <p class="card-text">小学六年级英语</p>
            <a href="#" class="btn btn-primary">了解更多</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <%=image_tag 'courses/primary_6_yuwen.jpg', class: 'card-img-top' %>
          <div class="card-block">
            <h4 class="card-title">凹凸教育课程</h4>
            <p class="card-text">小学六年级英语</p>
            <a href="#" class="btn btn-primary">了解更多</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <%=image_tag 'courses/primary_6_yingyu.jpg', class: 'card-img-top' %>
          <div class="card-block">
            <h4 class="card-title">凹凸教育课程</h4>
            <p class="card-text">小学六年级英语</p>
            <a href="#" class="btn btn-primary">了解更多</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <%=image_tag 'courses/primary_6_yuwen.jpg', class: 'card-img-top' %>
          <div class="card-block">
            <h4 class="card-title">凹凸教育课程</h4>
            <p class="card-text">小学六年级英语</p>
            <a href="#" class="btn btn-primary">了解更多</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <%=image_tag 'courses/primary_6_yuwen.jpg', class: 'card-img-top' %>
          <div class="card-block">
            <h4 class="card-title">凹凸教育课程</h4>
            <p class="card-text">小学六年级英语</p>
            <a href="#" class="btn btn-primary">了解更多</a>
          </div>
        </div>
      </div>
    </div>

</div>


<div id="features" class="feature">
  <div class="container">

    <div class="row row-padding-bottom-sm">
      <div class="col-md-4">
        <%= image_tag 'features/one2one.jpg', class: 'img-fluid' %>
      </div>
      <div class="col-md-7 push-md-1">
        <h2>一对一辅导</h2>
        <div class="text-muted">
          <p>1. VIP学员专享课程,家教式辅导,帮助考生及时巩固所学知识,打牢基础.</p>
          <p>2. 结合网络精讲内容,巩固解题技巧和方法.</p>
          <p>3. 掌握考点,举一反三,确保成绩提升.</p>
        </div>
      </div>
    </div>

    <div class="row row-padding-bottom-sm">
      <div class="col-md-7">
        <h2>私人订制</h2>
        <p>1. 发挥每个学员的强项.</p>
        <p>2. 建立自信,不再畏惧.</p>
        <p>3. 老子编不下去了了.</p>
      </div>
      <div class="col-md-4 push-md-1">
        <%= image_tag 'features/custom-made.jpg', class: 'img-fluid' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'features/short_slab.jpg', class: 'img-fluid' %>
      </div>
      <div class="col-md-7 push-md-1">
        <h2>突击短板</h2>
        <p>1. 一只木桶能盛多少水,并不取决于最长的那块木板,而是取决于最短的那块木板. </p>
        <p>2. 所有的储水过程，还在于都是为了让水得到最大的使用价值，是可资使用的水。</p>
        <p>3. 一只太深的木桶，却装着太浅的水，这必将将影响木桶的使用效率。这同样也不是一个企业追求的最终目标。</p>
      </div>
    </div>

  </div>
</div>